@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff; /* or any background */
  font-family: Arial, Helvetica, sans-serif;

}
:root {
  --background: 0 0% 100%; /* light */
  --foreground: 240 10% 10%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 10%;

  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 10%;

  --primary: 240 100% 60%;
  --primary-foreground: 0 0% 100%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 100%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 10%;

  --radius: 0.5rem;
  --chart-1: 0 100% 67%;
  --chart-2: 120 100% 67%;
  --chart-3: 240 100% 67%;
  --chart-4: 60 100% 67%;
  --chart-5: 300 100% 67%;
}


.dark {
  --background: 240 10% 10%; /* dark */
  --foreground: 0 0% 100%;

  --card: 240 10% 15%;
  --card-foreground: 0 0% 100%;

  --popover: 240 10% 20%;
  --popover-foreground: 0 0% 100%;

  --primary: 210 100% 60%;
  --primary-foreground: 0 0% 100%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 100%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 80%;

  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 100%;

  --destructive: 0 100% 60%;
  --destructive-foreground: 0 0% 100%;

  --border: 240 3.7% 25%;
  --input: 240 3.7% 25%;
  --ring: 240 10% 40%;

  --radius: 0.5rem;
  --chart-1: 0 100% 67%;
  --chart-2: 120 100% 67%;
  --chart-3: 240 100% 67%;
  --chart-4: 60 100% 67%;
  --chart-5: 300 100% 67%;
}






.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(138 76 239 / var(--tw-bg-opacity)) /* #8a4cef */;
}

/* Hide scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}
